* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  width: 100vw;
}

.header {
  height: auto;
  width: 100%;
  margin: 0.5rem;
}

.titulo_principal {
  margin: 0.5rem 0rem;
}
.titulo_principal a {
  padding: 1rem 0rem;
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}

.Google_Search {
  margin-right: 2rem;
}

h1 {
  padding: 1rem 0rem;
  font-size: 2rem;
  text-align: center;
}

.sociales div div a {
  text-decoration: none;
  color: white;
  background-color: rgb(100, 100, 100);
  margin: 0.5rem;
  padding: 0.5rem;
  border: 0rem;
  border-radius: 1rem;
  font-size: 1rem;
  width: 3rem;
}
.sociales div div a :hover {
  background-color: rgb(30, 30, 30);
  color: white;
  filter: brightness(150%);
  font-size: 1.6rem;
  border-color: white;
  border: 0.5rem;
}

.contenedor {
  background-color: rgb(0, 0, 0);
  padding: 1rem;
}

.aside {
  background-color: rgb(20, 20, 20);
  border: 0;
  border-radius: 1rem;
  padding: 1rem 0rem;
}

.h3 {
  padding: 1rem;
}
.h3:hover {
  cursor: pointer;
}

.bloque {
  background-color: rgb(50, 50, 50);
  display: none;
  border: 0;
  border-radius: 1rem;
  padding: 1rem 0rem;
}
.bloque ul {
  list-style-type: none;
  padding: 0.5rem;
  margin: 1rem 0rem;
  border: 0.1rem;
}
.bloque ul li {
  list-style-type: none;
  padding: 0.5rem 0rem;
}
.bloque ul li a {
  text-decoration: none;
  color: white;
  background-color: rgb(100, 100, 100);
  border: 0rem;
  border-radius: 1rem;
  padding: 1rem 0.5rem;
  font-size: 1.5rem;
}
.bloque ul li a:hover {
  background-color: rgb(30, 30, 30);
  color: white;
  filter: brightness(1.5);
  font-size: 1.6rem;
  border-color: white;
  border: 0.5rem;
}

#google_y_sociales, #cnea, #personal, #ingles, #autos, #utilidades, #desarrollador, #python, #Java_Script, #ansys, #block_de_notas {
  height: auto;
}

#editor_de_codigo {
  height: auto;
}

.titulo {
  font-size: 2rem;
  text-align: center;
}

.descripcion {
  font-size: 1.5rem;
}

.text_area {
  padding: 2rem;
}

.contenedor_editor {
  padding: 1rem;
}

.HTML, .CSS, .JS {
  padding: 1rem;
}

.SALIDA {
  padding: 1rem;
}

#salida_HTML_CSS_JS {
  background-color: bisque;
}

h1 {
  color: red;
}

body {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.header {
  display: flex;
  flex-direction: column-reverse;
}

.titulo_principal {
  padding: 1rem;
}
.titulo_principal a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Google_Search {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sociales {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sociales div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.sociales div div a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor {
  display: flex;
  flex-direction: column;
}

.aside {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 1rem;
}
.aside h3:hover {
  background-color: darkslategray;
  filter: brightness(200%);
}

.bloque {
  display: none;
  margin: 1rem;
  padding: 0.5rem;
}
.bloque ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.bloque ul li {
  margin: 1rem 0.5rem;
  padding: 0.5rem 2rem;
}
.bloque ul li a {
  display: inline-block;
  text-align: center;
}

.activo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.activo div {
  width: 100%;
}

.titulo {
  grid-area: titulo;
}

.descripcion {
  grid-area: descripcion;
  text-align: center;
}

.enlaces {
  grid-area: enlaces;
}

.contenedor_editor {
  grid-area: contenedor_editor;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.HTML, .CSS, .JS {
  display: flex;
  flex-direction: column;
}

.descripcion {
  padding: 1rem 0rem 0rem 0rem;
}

/*#block_de_notas, #editor_de_codigo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}*/
@media all and (min-width: 576px) {
  h1 {
    color: blue;
    background-color: black;
  }
  .bloque {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .bloque h3 {
    text-align: center;
  }
  .bloque ul {
    flex-direction: row;
  }
  .bloque ul li {
    min-width: 30%;
  }
  .bloque ul li a {
    display: block;
  }
}
@media all and (min-width: 992px) {
  h1 {
    color: green;
  }
  .header {
    display: grid;
    grid-template-areas: "sociales titulo titulo titulo google google";
  }
  .titulo_principal {
    grid-area: titulo;
  }
  .Google_Search {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    grid-area: google;
  }
  .sociales {
    grid-area: sociales;
  }
  .contenedor {
    display: grid;
    grid-template-areas: "aside bloque";
    grid-template-columns: 1fr 4fr;
    gap: 1rem;
  }
  .aside {
    grid-area: aside;
  }
  .bloque {
    grid-area: bloque;
  }
  /*#google_y_sociales, #cnea, #personal, #ingles, #autos, #utilidades, #desarrollador, #python, #Java_Script, #ansys, #block_de_notas{
      grid-template: 1.5fr 1fr 1fr 1fr 1fr 1fr/ 1fr 1fr 1fr 1fr;
      grid-template-areas: "titulo titulo titulo titulo" "descripcion descripcion descripcion descripcion" "enlaces enlaces enlaces enlaces" "enlaces enlaces enlaces enlaces" "enlaces enlaces enlaces enlaces" "enlaces enlaces enlaces enlaces";
  }*/
  #editor_de_codigo {
    grid-template: 1.5fr 1fr 1fr 1fr 1fr 1fr/1fr 1fr 1fr 1fr;
    grid-template-areas: "titulo titulo titulo titulo" "descripcion descripcion descripcion descripcion" "contenedor_editor contenedor_editor contenedor_editor contenedor_editor" "contenedor_editor contenedor_editor contenedor_editor contenedor_editor" "contenedor_editor contenedor_editor contenedor_editor contenedor_editor" "contenedor_editor contenedor_editor contenedor_editor contenedor_editor";
  }
  .contenedor_editor {
    grid-area: contenedor_editor;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}/*# sourceMappingURL=styles.css.map */